/* ======= ALIGNMENT CLASSES ======= */

.full {
  width: 100%;
  float: left;
  clear: both;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.desktop {
  @media(max-width: 414px) {
      display: none;
  }
}

.mobile {
  display: none;
  @media(max-width: 414px) {
      display: block;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}